*~

#root
ABOUT-NLS
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
m4
py-compile
retrace-server.spec
retrace-server-[0-9]*
stamp-h1
retrace-server-version

#doc
doc/mdate-sh
doc/retrace-server.info
doc/stamp-vti
doc/texinfo.tex
doc/version.texi

#po
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it

#src
src/.deps

#builds
po/*.gmo
src/worker.o
src/abrt-retrace-worker

#rpms
i386
i686
x86_64

#bytecode
*.pyc
*.pyo
